@model MvcApplication1.Models.ShoppingCart

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.EditorForModel()

<input type="button" value="Click" onclick="Click();"/>

@section scripts {
    <script type="text/javascript" src="~/Scripts/ShoppingCart.js"></script>
} 